body {
  padding-top: 3%;
}

.weather-container {
  background-color: #ccc;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  width: 50%;
}
.weather {
  font-size: 22px;
  margin: 0;
}
.temp {
  font-size: 60px;
  margin: 0;
  font-weight: bold;
}
.weather-like {
  text-align: center;
}
.container {
  text-align: center;
  padding-top: 3%;
  
}